{% extends 'base.html' %} {% block body %}
<main>
  <h2>About page</h2>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veritatis
    ratione nihil ipsum autem quam optio excepturi eius labore, praesentium
    voluptas maiores dolores reprehenderit reiciendis aspernatur pariatur
    cupiditate asperiores? Dignissimos.
  </p>
</main>
{% endblock %} {% block body %}
<aside>
  <div class="ads">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, odit
    minus? Sunt, quas nesciunt laboriosam eveniet similique enim, vero dolore,
    quo vel nihil officia quae fugiat assumenda repellat accusantium ullam.
  </div>
</aside>
